# Archivo: .dockerignore

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Python / Django
__pycache__/
venv/
.venv/
*.pyc
*.pyo

# Node.js / Next.js
node_modules/
.next/
npm-debug.log
yarn-error.log

# Archivos de entorno y secretos
.env
.env.*
!.env.example

# Configuración de editores
.vscode/
.idea/

# Archivos de sistema operativo
.DS_Store
Thumbs.db