services:
  # ==============================================================================
  # 1. DATABASE
  # ==============================================================================
  db:
    image: pgvector/pgvector:pg17
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # ==============================================================================
  # 2. BACKEND API
  # ==============================================================================
  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    restart: always
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - ./.env
    # En producción, usamos el CMD del Dockerfile (gunicorn) por defecto
    # command: ... (Ya no es necesario sobrescribir nada)
    # ==============================================================================
    # 3. FRONTEND UI
    # ==============================================================================
  frontend:
    build:
      context: ./frontend/erp_ui
      dockerfile: Dockerfile
      target: runner # En producción usamos la imagen optimizada 'runner'
    restart: always
    depends_on:
      - backend
    env_file:
      - ./.env
    # En producción, usamos el CMD del Dockerfile (node server.js)

  # ==============================================================================
  # 4. ASYNCHRONOUS WORKERS & BROKER
  # ==============================================================================
  redis:
    image: redis:7-alpine
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  celery_worker:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    command: celery -A config worker --loglevel=info
    volumes:
      - ./backend:/app
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - ./.env

  celery_beat:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    command: celery -A config beat --loglevel=info
    volumes:
      - ./backend:/app
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - ./.env

volumes:
  postgres_data:
